@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

#background {

  background-size: cover;
  height: 100%;
}

#quote-box {
  background-color: white;
}

#twitter-icon {
  font-size: 2em;
}